/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"); */

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
}
